@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


:root {
  --paper-color1: hsl(230, 89%, 62%);
  --paper-color2: hsl(230, 89%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hand {
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.hand::before {
  content: '';
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--paper-color1), var(--paper-color2));
}

.winner {
  border-radius: 50%;
  box-shadow: 0 0 0 75px hsl(214deg 47% 23% / 80%), 0 0 0 150px hsl(214deg 47% 23% / 60%), 0 0 0 225px hsl(214deg 47% 23% / 40%);
  transition: all 1s;
}

.notGaming {
  box-shadow: none;
}

@media (max-width: 500px) {
  .winner {
    border-radius: 50%;
    box-shadow: 0 0 0 25px hsl(214deg 47% 23% / 80%), 0 0 0 50px hsl(214deg 47% 23% / 60%), 0 0 0 75px hsl(214deg 47% 23% / 40%);
    transition: all 1s;
  }
}